/* @tailwind base;
@tailwind components;
@tailwind utilities; */
* {
  margin: 20px;
}

h1 {
  text-decoration: underline;
  font-size: 30px;
}

.typography {
  font-weight: bold;
}

/* Loc */
.compose {
  width: 350px;
  height: 100px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.title {
  font-size: 20px;
  padding: 5px;
  color: #fff;
  background-color: #fbbf24;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
.btn__increment {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  border : 1px solid #0000004e;
  background-color: #fff;
  transition: all 0.3s ease-in;
  font-size: 16px;
}
.btn__increment:hover{
  background-color: #94a3b8;
  color: #fff;
}
.btn--login,
.btn--logout{
  width: 100px;
  height: 30px;
  cursor: pointer;
}
.box{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 50px;
  flex-wrap: wrap;
}
.box__item{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}
